
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '/css/catalog/bootstrap-rtl.min.css';
@font-face {
    font-family: vazir;
    src: url('/fonts/Vazir.eot');
    src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Vazir.woff2') format('woff2'),
         url('/fonts/Vazir.woff') format('woff'),
         url('/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: number;
    src: url('/fonts/anjoman-nu.eot');
    src: url('/fonts/anjoman-nu.eot?#iefix') format('embedded-opentype'),
         url('/fonts/anjoman-nu.woff2') format('woff2'),
         url('/fonts/anjoman-nu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    /*
    Flaticon icon font: Flaticon
    Creation date: 03/01/2021 20:59
    */
    @font-face {
        font-family: "Flaticon";
        src: url("/fonts/flaticon/Flaticon.eot");
        src: url("/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
             url("/fonts/flaticon/Flaticon.woff2") format("woff2"),
             url("/fonts/flaticon/Flaticon.woff") format("woff"),
             url("/fonts/flaticon/Flaticon.ttf") format("truetype"),
             url("/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
        }
      }
      
        .fi:before{
            display: inline-block;
            font-family: "Flaticon";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            line-height: 1;
            text-decoration: inherit;
            text-rendering: optimizeLegibility;
            text-transform: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
      
        .flaticon-nut:before { content: "\f100"; }
      .flaticon-cashew:before { content: "\f101"; }
      .flaticon-peanut:before { content: "\f102"; }
      .flaticon-walnut:before { content: "\f103"; }
      .flaticon-almond:before { content: "\f104"; }
      .flaticon-pistachio:before { content: "\f105"; }
      .flaticon-seed:before { content: "\f106"; }
      .flaticon-grain:before { content: "\f107"; }
          
          $font-Flaticon-nut: "\f100";
          $font-Flaticon-cashew: "\f101";
          $font-Flaticon-peanut: "\f102";
          $font-Flaticon-walnut: "\f103";
          $font-Flaticon-almond: "\f104";
          $font-Flaticon-pistachio: "\f105";
          $font-Flaticon-seed: "\f106";
          $font-Flaticon-grain: "\f107";
html{
    scroll-behavior: smooth;
}
body{
    font-family: vazir;
    background-color: #fff;
}
.box-shadow{box-shadow: 0px 0px 5px 0px #e1e1e1}
.box-shadow-h {
    box-shadow: 0px 5px 5px 0px #e1e1e1;
}
.clear{
    clear:both
}
*{
    text-decoration: none!important;
    outline: none !important;
}
hr{
    width: 100%;
    display: block;
}
.number{
    font-family: number;
}
a{
    outline: none!important;
    &:focus{
        outline: none!important;
        box-shadow: none !important;
    }
}
$color-org: #f7941d;
$color-sec: #c6341d;
$color-success :#38c172;
$color-text :#444;

.swal-modal{
    .swal-text,
    .swal-footer{
        text-align: center!important;
    }
    button{
        background: #2ea44f!important;
        border: none;
        outline: none;
    }
    button:hover{
        opacity: 0.7;
    }
}

// owl-carousel
.owl-carousel{
    .owl-dots{
        button{
            margin-right: 3px;
            span{
                height: 10px;
                width: 20px;
                display: inline-block;
                background: #eeefee;
                border-radius: 10px;
                //border:1px solid  #e2a661
            }
        }
        .active span{
            width: 10px;
            background: $color-org;
            border-radius: 50%;
        }
    }
}

// header

header{
    .top-nav{
        background-color: #f7f7f7;
        color: $color-text;
        .row{
            align-items: center;
            ul{
                list-style: none;
            
                li{
                    display: inline-block;
                    direction: ltr;
                    margin-right: 15px;
                    font: 14px number;
                    i{
                        margin-right: 5px;
                    }
                }
            }
            i{
                font-size: 15px;
                color: $color-org;
            }
        }
    }
    .center-nav {
        .row{
            align-items: center;
            i{
                vertical-align: middle;
            }
            a{
                border-radius: 5px;
                font-size: 17px;
    
            }
            .search-box{
                input{
                    height: 43px;
                    border-color: #f4f4f4;
                }
                .btn{
                    position: absolute;
                    left: 16px;
                    color: #999;
                }
            }
            .user-maneger{
                a{
                    display: inline-block;
                    background: #f9f9f9;
    
    
                }
                .login{
                    color: $color-text;
                    text-align: center;
                    padding-right: 25px;
                    padding-left: 25px;
                }
                .logout{
                    font-size: 16px;
                    color: $color-text;
                    margin-left: 10px;
                    padding: 9px 15px;
    
                }
                .profile{
                    font-size: 16px;
                    background: #fff9f3;
                    color: $color-org;
                    padding: 9px 15px !important;
    
                }
            }
            .cart-box{
                a{
                    text-align: center;
                    background-color: $color-org;
                    color: #fff;
                    padding: 7px;
                }
    
            }
        }
    }
    .main-nav{
        box-shadow: inset 0px 67px 142px -155px #999;
        ul{
            li{
                a{
                    color: #444;
                    padding: 15px;
                    font-size: 17px;
                }
                ul{
                    display:none;
                    box-shadow: 0 0 5px 0px #ffd19b;
                    z-index: 9999;
                    position: absolute;
                    background: #fff;
                    li{
                        display: block!important;
                        a{
                            color: $color-text;
                            font-size: 14px;
                            &:hover{
                                color:$color-org;
                            }
                        }
                    }
                    
                }
                &:hover ul{
                    display:block;
                    transition: .1s all;


                }
            }
        }

    }
}

// login

.login-display{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.limiter {
    width: 100%;
    margin: 0 auto;
    .login {
        min-height: 100vh;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #f2f2f2;
        .wrap-login {
            width: 960px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 120px 70px;
            align-items: center;
            .pic {
                width: 316px;
                img {
                    max-width: 100%;
                }
                @media (max-width: 992px) {
                    .pic {
                        width: 35%;
                    }
                }
                @media (max-width: 768px) {
                    .pic {
                        display: none;
                    }
                }
            }
            .login-form {
                width: 290px;
                @media (max-width: 992px) {
                    .login-form {
                        width: 50%;
                    }
                }
                @media (max-width: 768px) {
                    .login-form {
                        width: 100%;
                    }
                }
                .title {
                    font-size: 22px;
                    color: #333333;
                    line-height: 1.2;
                }
                .wrap-input {
                    z-index: 1;
                    margin-bottom: 10px;
                    input {
                        font-size: 15px;
                        line-height: 1.5;
                        color: #666666;
                        display: block;
                        width: 100%;
                        background: #e6e6e6;
                        height: 50px;
                        border-radius: 25px;
                        padding: 0 30px 0 68px;
                        @media (max-width: 768px) {
                            padding: 0 20px 0 30px;
                        }
                    }
                    .focus-input {                      
                        border-radius: 25px;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        box-shadow: 0px 0px 0px 0px;
                        color: rgba(87,184,70, 0.8);
                    }
                    .input:focus + .focus-input {
                        -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
                        animation: anim-shadow 0.5s ease-in-out forwards;
                    }
                    i{
                        top: 20%;
                        left: 13px;
                        border: 0;
                        font-size: 30px;
                        color: $color-text;
                    }
                    .input:focus + .focus-input + .symbol-input {
                        color: #57b846;
                        padding-left: 28px;
                    }
                }
                .form-btn {
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-top: 20px;
                    button {
                        font-size: 15px;
                        line-height: 1.5;
                        color: #fff;
                        text-transform: uppercase;
                        width: 100%;
                        height: 50px;
                        border-radius: 25px;
                        background: #57b846;
                        justify-content: center;
                        align-items: center;
                        padding: 0 25px;
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s;
                        border: none;
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}

// all effect
@-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
}
  
@keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
}
.hoverEffect{
    position: relative;
    transition:.6s all;
    &:before {
        width: 0px;
        height: 0px;
        position: absolute;
        right: -15px;
        top: -20px;
        background: hsla(0,0%,100%,.21);
        content: "";
        border-radius: 50%;
        transition: width .6s;
    }
    &:hover{
        transition:.6s all;
        &:before{
            width: 100%!important;
            height: 100%!important;
            right: 0;
            top: 0;
            border-radius: 0;
        }
    }
    
}

  
// seller register

.register-landing{
    background: #f8f8f8;
    .register-box{
        box-shadow: 0px 0px 12px 0px #ccc;
        .card-heading{
            padding: 20px 0;
            background: #1a1a1a;
            h1{
                font-size: 22px;
                color: #fff;
            }
        }
        .cart-body{
            background: #ffffff;
            padding: 15px;
            textarea{
                resize: none;
            }
            .form-group{min-height: 91px;}
        }
    }
}

.list-group-item.active a,
.list-group-item + .list-group-item.active a{color:#fff!important}
.select2-results__options{
    text-align: right;
    
}

// Seller Dashboard
.main-header{
    margin-right: 14rem;
    margin-left: initial;
    z-index: 999;

}
.main-sidebar{
    z-index: 1100;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    .user-panel{
        i{
            font-size: 45px;
        }   
    }
    a{
        color: #fff;
        font-size: 18px;
    }
    .active{
        background: none !important;
        color: #14a4fa !important;
    }
    nav{
        ul{
            li{
                a{
                    i{
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
.content-wrapper{
    padding-right: 16rem;
    height: 100%;
    padding-left: 1rem;
    background: #36475f;
    padding-top: 6rem !important;
    text-align: right;    
    
    form{
        .select2-container{
            max-width: 100%!important;
        }
    }
    .pannel-shop{
        .bow{
            border: 1px solid #fff;
            h5{
                padding: 20px 0 20px;
                background: #343a40;
                color: #fff;
            }
            p,i{
                margin: 0;
                padding-bottom: 10px;
                font-size: 22px;
                padding-top: 10px;
                color: #fff;
                display: inline-block;
            }
            i{
                margin-right: 10px;
            }
            a{
                font-size: 15px;
                padding: 5px;
                background: #343a40;
                color: #fff;

            }
            
        }
    }
    .step-guide{
        .steps{
            display: table;
            table-layout: fixed;
            width: 100%;
            .step{
                position: relative;
                display: table-cell;
            }
        }
    }
    .shipping-info{
        .card-header{
            padding-bottom: 0;
            border: none;
            ul{
                padding: 0;
                border:none;
                li{
                    a{
                        color: $color-text;
                        font-size: 15;
                    }
                    .active{
                        background: #fff;
                        border: none;
                        box-shadow: -6px 0px 4px -3px #ccc;
                        border-top: 2px solid #14a4fa;
                    }
                }
            }
        }
        .card-body{
            min-height: 400px;
        }
    }
}

// cart-page
.cart-page{
    table{
        tr{
            th{
                vertical-align: middle;
                border: none;
                button{
                    background: #f5f5f5;
                    border: none;
                    color: #ccc;
                    font-size: 20px;
                    padding: 14px 9px;
                    line-height: 0;
                    border-radius: 50%;
                    font-weight: normal;
                    &:hover{
                        background: $color-org;
                        color: #fff;
                    }
                }
                input{
                    border: 2px solid #f2f2f2;
                    width: 4.8rem;
                    padding: 6px;
                    border-radius: 23px;
                    font-size: 16px;
                    text-align: center;
                }
            }
            .name{
                p{
                    a{
                        font-weight: normal;
                        color: $color-text;
                        font-size: 16px;
                        &:hover{
                            color: $color-org;
                        }
                    }
                }
                small{
                    font-size: 12px;
                }
                .price{
                    font-weight: normal;
                    font-size: 11px;
                }
            }
            .allPrice{
                font-weight: normal;
            }
        }
        .space{
            height: 5px;
            line-height: 0;
            border-bottom: 2px solid #f2f2f2;
            &:last-child{
                display: none;
            }

        }
    }
    .totalPrice{
        div{
            border-bottom: 1px solid #f2f2f2;
            &:last-child{
                border:none
            }
        }
        .count-order{
            p{
                font-size: 15px;
            }
        }
        #sum{
            color: $color-org;
            font-size: 17px;
            font-weight: bold;
        }
        .action{
            a{
                padding: 10px 25px 10px 15px;
                position: relative;
                font-size: 16px;
                color: #fff;
                background-color: #42ca93 !important;
                border-color: #20a06c !important;
                width: 100%;
                border: none;
                &:before {
                    width: 57px;
                    height: 84px;
                }
                
                i{
                    position: absolute;
                    right: 12px;
                    top: 12px;
                    font-size: 20px;
                }
                
                    
            }
        }
    }
}

// address page
.address-page{
    .no-address{
        i{
            font-size: 55px;
            color: #ccc;
            margin-bottom: 20px;
        }
        p{
            color: #ccc;
            font-size: 24px;
            font-weight: bold;
        }
        .btn{
            font-size: 18px;
            border-radius: 29px;
            padding: 7px 24px;
            &:hover{
                background: $color-success;
            }
        }
    }
    .address-box{
        .header-nav{
            .btn{
                border-radius: 5px!important;
            }
        }
        .current-address{
            border: 2px solid $color-success;
            padding: 10px;
            border-radius: 6px;
            border-right: 11px solid $color-success;
            .box{
                position: relative;
                &:before{
                    font: normal normal normal 21px/1 FontAwesome;
                    content: "\f00c";
                    position: absolute;
                    right: -3rem;
                    top: 1.9rem;
                    border-radius: 50%;
                    background: $color-success;
                    color: #fff;
                    padding: 6px;
                }
                p{
                    margin: 0;
                    font-size: 16px;
                }
                
                
            }
        }
        
    }
    .list-address{
        border: 1px solid #f2f2f2;
        border-radius: 5px;     
    }
    .selected{
        border:1px solid $color-success;
        
    }
}


// home page
.home_slider{
    .owl-stage-outer{
        box-shadow: 0px 0px 5px 0px #e1e1e1;
        border-radius: 10px;
    }
    .owl-dots{
        margin-top: 5px;
        text-align: center;
    }

}
.product-slide{
    h3{
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 10px;
        font-size: 20px;
        i{
            vertical-align: middle;
            color: $color-org;
            font-size: 16px;
            margin-left: 3px;
        }
    }
    .product-group{
        .owl-stage-outer{
            padding-top: 20px;
            padding-bottom: 20px;
            .item{
                position: relative;
                padding: .4rem;
                &:before{
                    content: "";
                    position: absolute;
                    border-left: .13rem dotted #e1e1e1;
                    height: 60%;
                    bottom: 3rem;
                    right: -5px;
                }
                h4{
                    color: $color-text;
                    font-size: 17px;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
.home-cat-icon{
    background: $color-org;
    ul{
        list-style: none;
        a{
            color: #fff;
            background: #f4a23f;
            padding: 50px 0;
            border-radius: 50%;
            transition: .3s all;
            &:hover{
                color: $color-org;
                background: #fff;
                transition: .3s all;
            }
            i{
                &:before{
                    font-size: 60px;
                }
            }
        }
    }
}

// Category Page
.category-page{
    background:#f8f8f8;
}
.category-filter{
    .card{
        min-height: 250px;
        box-shadow: 0px 0px 5px 0px #f1f1f1;
        h3{
            font-size: 1rem;
            background: $color-sec;
            color: #fff;
            padding:10px
        }
        ul{
            li{
                margin-right:8px;
                list-style: none;
                a{
                    color: $color-text;   
                }
                ul{
                    
                    li{
                        margin-right:13px;

                    }
                }
            }
            
            .parent{
                margin-right:0;
                i{
                    font-size: 17px;
                    vertical-align: middle;
                    margin-left: 3px;
                }
            }
        }
    }
}
.category-list{
    min-height: 500px;
    background: #fff;
    .product-thumb{
        .card{ 
            &:hover{
                box-shadow: 0px 0px 14px 3px #e1e1e1;
                cursor: pointer;
            }
            a{
                display: block;
                text-align: center;
                color: $color-text;
                h3{
                    font-size: 1rem;
                }
                &:hover{
                    h3{
                        color: $color-org;
                    }
                }
            }
            h5{
                color: $color-text;
            }
            .price{
                color: $color-success;
            }
        }
    }
    .prodcut-unavailable{
        img{
            filter: grayscale(1);
        }
    }
}


// product page
.product-details{
    div{
        &:first-child{
            border-left: 1px solid #f2f2f2;
        }
    }
    h1{
        font-size: 26px;
        box-shadow: 0px 10px 8px -5px #ccc;
        padding-bottom: 6px;
        display: inline-block;
    }
    .categories{
        margin-bottom: 5px;
        span{
            font-size: 13px;
        }
        ul{
            margin: 0;
            li{
                position: relative;
                a{
                    color: $color-text;
                    font-size: 11px;
                    &:hover{
                        color: $color-org;
                    }
                }
                &:after{
                    content: "،";
                    position: absolute;
                }
                &:last-child{
                    &:after{
                        content: "";
                        
                    } 
                }
            }
        }
    }
    .short-desc{
        h6{
            margin-bottom: 0;
            font-size: 16px;
        }
        p{
            font-size: 13px;
            text-align: justify;
            overflow: hidden;
            height: 103px;
        }
    }
    .price{
        ul{
            li{
                position: relative;
                margin-left: 10px;
                color: $color-success;
                font-size: 30px;
                &::after{
                    content: " - ";
                    position:absolute;
                    left: -9px;
                    color:$color-text
                }
                &:last-child{
                    margin-left: 0;
                    color: $color-sec;
                    &::after{
                        content: "";
                    }
                }
            }
        }
        a{
            color: #fff;
            background: $color-success;
            font-size: 25px;
            padding: 8px 50px;
            border-radius: 35px;
        }
    }
    .unavailable{
        p{
            font-size: 19px;
            color: #666;
            display: inline-block;
            margin: 0;
            padding: 9px 40px;
            border-radius: 7px;
            background: #f2f2f2;
        }
    }
}
.vendor{
    tr{
        border-bottom: 1px solid #ccc;
        th{
            border: none;
            font-size: 15px;
            font-weight: normal;
            vertical-align: middle;
            small{
                font-size: 14px;
            }
            input[type="number"]{
                width: 25%;
                padding: 5px 9px;
                border-radius: 20px;
                border: 1px solid #ccc;
            }
            .btn{
                border-radius: 28px;
                font-size: 15px;
                &:hover{
                    background: $color-success;
                }
            }
            
        }
        &:last-child{
            border:none
        }
    }
}
.product-info{
    .nav{
        li{
            a{
                border:none;
                border-top: 3px solid transparent;
                color: $color-text;
                padding: 13px 18px;
                font-size: 18px;
            }
            .active{
                border-top-color:$color-org;
                box-shadow: -6px 0px 6px -3px #ccc!important;
            }
        }
    }
    .description{
        h2,h3,h4{
            font-size: 20px;
            display: inline-block;
            box-shadow: 2px 5px 3px -5px #ccc;
            padding-bottom: 7px;
            &:before{
                content: "֍";
                vertical-align: middle;
                font-size: 14px;
                margin-top: 6px;
                display: inline-block;
                margin-left: 2px;
                color: $color-org;
            }
        }
        p{
            font-size: 14px;
            text-align: justify;
            line-height: 25px;
            
        }
    
    }
    .attribute{
        p{
            margin: 0;
            background: #f8f9fa;
            padding: 6px 11px;
            border-radius: 3px;
        }
    }
}
.comments{
    h3{
        font-size: 21px;
        i{
            color: $color-org;
            font-size: 16px;
        }

    }
    .card-header{
        background: none;
        border:none;
        border-bottom: 1px solid #f2f2f2;
    }
    .comment_answer{
        color: $color-success;
    }
    .answer{
        background: #f2f2f2;
        margin: 0px 15px;
        border-radius: 6px;
    }
}



// footer

footer{
    background: #eceff1;
    .shop-info{
        background: #e9e9ea;
        p{
            margin:0;
            color: $color-text;
            display: inline-block;
            border-radius: 7px;
            border: 2px solid #eceff1;
            padding: 7px 9px;
            font-size: 14px;
    
        }
    }
    .info{
        display: flex;
        align-items: center;
        .about{
            h2{
                font-size: 21px;
            }
            p{
                height: 7.2rem;
                overflow: hidden;
                font-size: 14px;
                text-align: justify;
                margin: 0;
            }
        }
        .address{
            p{
                i{
                    font-size: 21px;
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
        }
    }
    
}