@import url(/css/admin/bootstrap-rtl.min.css);@import url(/css/admin/custom-style.css);@import url(/css/admin/adminlte.css);@font-face {
  font-family: vazir;
  src: url("/fonts/Vazir.eot");
  src: url("/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir.woff2") format("woff2"), url("/fonts/Vazir.woff") format("woff"), url("/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  direction: rtl !important;
}

body {
  text-align: right;
}

button {
  cursor: pointer;
}

.clear {
  clear: both;
}

.sidebar > div:first-child {
  text-align: right;
}

.content-header h1 {
  font-size: 20px;
  font-weight: bold;
  word-spacing: -3px;
}

.content-header .breadcrumb-item {
  font-size: 13px;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 2px;
  padding-left: 0.2rem;
}

.content-wrapper,
.main-footer,
.main-header {
  margin-right: 250px;
  margin-left: initial;
}

.nav-sidebar .nav-link > p > .right {
  right: auto;
}

.small-box .icon i {
  float: left;
  margin-top: 20px;
}

.card-header > .card-tools {
  right: auto;
}

.admin-search-box form {
  width: 100%;
}

.admin-search-box .input-group {
  width: 250px !important;
}

.admin-search-box .input-group-append {
  position: absolute;
  left: 2px;
  top: 1px;
  border: none;
}

.form-group {
  min-height: 91px;
}

.form-group + .form-group {
  border-top: 1px solid #ededed;
  padding-top: 5px;
  padding-bottom: 5px;
}

