<template>
<div class="col-12 address-page cart-page">
    <div class="card col-9 float-right p-0 box-shadow no-address">
        <div class="card-body border-0 box-shadow text-center pt-5 pb-5">
        <i class="fa fa-map"></i>
        <p>لطفا یک آدرس ثبت کنید!</p>
        <button type="button" class="btn btn-success hoverEffect" data-toggle="modal" data-target="#addAddress">
            ثبت آدرس جدید
        </button> 
        </div>
    </div>    
    <cart-result :auth_user='isLoggedIn'></cart-result>
</div>
</template>
<script>
    import { mapGetters, mapMutations, mapState, mapActions } from "vuex";
import CartResult from './CartResult.vue';
    export default {
        components: { CartResult },
        computed : {
            ...mapState(['products']),
            ...mapGetters({
                cartCount : 'cartCount',
                totalSum: 'totalSum',
                isLoggedIn:'isLoggedIn',
            })
        },
        mounted() {
            this.$store.commit('setAuthUser', window.auth_user);
            this.$store.dispatch('receiveProduct');
        },
        methods : {
             ...mapMutations({
                removeCart : 'removeCart',
                updateCart: 'updateCart'
            }),
        }
        
    }
</script>