<template>
        <div class=" col-9 text-right float-right ">
        <div class="card border-0 box-shadow">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr  v-for="(product , index) in products" v-bind:class="[`product row-${index}`]">
                        <th scope="col" class="text-center" style="width:5%"><button @click="removeCart(product.id)" class="btn-danger">x</button></th>
                        <th scope="col" class="text-center">
                            <img v-bind:src="product.image" alt="" class="img-fluid">
                        </th>
                        <th scope="col" class="name">
                            <p class="m-0"><a v-bind:href="product.slug">{{product.name}}</a></p> 
                            <small class="d-block">فروشنده: {{product.seller}}</small>
                            <span class="price number"> <span>قیمت واحد: </span>{{ new Intl.NumberFormat('fa-IR').format(product.price) }} تومان</span>
                        </th>
                        <th scope="col" class="quantity">
                            <input type="number" class="quantityTxt number" :value="product.quantity"  @input="updateCart" v-bind:min="product.minimum" v-bind:max="product.inventory" id="quantity"  name="quantity" >              
                        </th>
                        <th scope="col">
                            <span class="allPrice number">{{ new Intl.NumberFormat('fa-IR').format(product.price*product.quantity) }} تومان</span>
                            <span class="productTotal d-none"></span>
                        </th>
                    </tr>
                    </tbody>
                </table>
                </ul>
            </div>
        </div>
        </div>
</template>
<script>
    import { mapGetters, mapMutations, mapState, mapActions } from "vuex";
import CartResult from './CartResult.vue';
    export default {
        components: { CartResult },
        computed : {
            ...mapState(['products']),
            ...mapGetters({
                cartCount : 'cartCount',
                totalSum: 'totalSum',
            })
        },
        methods : {
             ...mapMutations({
                removeCart : 'removeCart',
                updateCart: 'updateCart'
            }),
        }
        
    }
</script>