<template>
<div  class="col-3 float-right">
    <div class="card border-0 box-shadow">
        <div class="card-body text-center totalPrice" id="total">
        <div class="count-order"> 
            <p>تعدا سفارشات : <span class="number">{{cartCount}}</span></p>
        </div>
        <div class="total-payment mt-3 pb-3">
            <p>مبلغ قابل پرداخت </p>
            <span id="sum" class="number">{{ new Intl.NumberFormat('fa-IR').format(totalSum) }}تومان </span>
        </div>
        <div class="action mt-3 mb-3" >
            <a v-if="isLoggedIn && curentUrl != '/address'" href="/address" class="btn hoverEffect btn-primary btn-invoice">
                <span>ادامه ثبت سفارش</span> <i class="fa fa-arrow-left"></i>
            </a>
            <a v-else-if="curentUrl == '/address'" href="/shipping" class="btn hoverEffect btn-primary btn-invoice">
                <span>ادامه ثبت سفارش</span> <i class="fa fa-arrow-left"></i>
            </a>
            <a v-else href="/login" class="btn hoverEffect btn-primary btn-invoice">
                <span>ثبت نام / ورود</span> <i class="fa fa-arrow-left"></i>
            </a>
            </div>
        </div>  
    </div>
</div>
</template>
<script>
    import {mapState, mapGetters }  from "vuex";
    export default{
        props: ['auth_user'],
        data: function () {
            return {
                curentUrl:window.location.pathname
            }
        },
        computed:{
            ...mapState(['products']),

            ...mapGetters({
                cartCount : 'cartCount',
                totalSum: 'totalSum',
                isLoggedIn:'isLoggedIn',

            })
        },
        mounted() {
            this.$store.commit('setAuthUser', this.auth_user);
        },
    }
</script>