<template>
    <div class="col-md-2 float-right text-right cart-box">
        <a href="/cart" class="d-block hoverEffect">
            <i class="fas fa-shopping-basket ml-2"></i><span>سبد خرید <span class="number">({{cartCount}})</span> </span>
        </a>
    </div>
</template>
<script>
    import { mapGetters } from "vuex";
    export default{
        computed:{
            ...mapGetters({
                cartCount : 'cartCount',
            })
        },
        mounted() {
            this.$store.dispatch('receiveProduct');
        },
    }
</script>